.text-center{
    text-align: center;

}
.bg{
    background-color: lightcyan;
}
.mx-auto{
    margin: auto;

}
.m-w-20{
    max-width: 40vw;
}
.flex{
display: flex;
}
.flex-col{
    flex-direction: column;

}
.item-center {
    align-items: center
}